In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
dataset = pd.read_csv('C:/Users/USER-PC/Desktop/Code Folder/House Price Prediction Model/House Prices Dataset.csv')

In [ ]:
dataset

       longitude  latitude  ...  ocean_proximity  median_house_value
0        -122.23     37.88  ...         NEAR BAY              452600
1        -122.22     37.86  ...         NEAR BAY              358500
2        -122.24     37.85  ...         NEAR BAY              352100
3        -122.25     37.85  ...         NEAR BAY              341300
4        -122.25     37.85  ...         NEAR BAY              342200
...          ...       ...  ...              ...                 ...
20635    -121.09     39.48  ...           INLAND               78100
20636    -121.21     39.49  ...           INLAND               77100
20637    -121.22     39.43  ...           INLAND               92300
20638    -121.32     39.43  ...           INLAND               84700
20639    -121.24     39.37  ...           INLAND               89400

[20640 rows x 10 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [ ]:
dataset.dropna(inplace = True)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = dataset.drop(['median_house_value'], axis=1)

In [ ]:
y = dataset['median_house_value']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
train_data = X_train.join(y_train)

In [ ]:
numeric_cols = train_data.select_dtypes(include=[float, int])

In [ ]:
corr_matrix = numeric_cols.corr()

In [ ]:
sns.heatmap(corr_matrix, annot=True, cmap="YlGnBu")

Axes(0.125,0.11;0.62x0.77)

In [ ]:
plt.show()

In [ ]:
train_data['total_rooms'] = np.log(train_data['total_rooms']) + 1

In [ ]:
train_data['total_bedrooms'] = np.log(train_data['total_bedrooms']) + 1

In [ ]:
train_data['population'] = np.log(train_data['population']) + 1

In [ ]:
train_data['households'] = np.log(train_data['households']) + 1

In [ ]:
train_data.hist()

[[<Axes: title={'center': 'longitude'}>
  <Axes: title={'center': 'latitude'}>
  <Axes: title={'center': 'housing_median_age'}>]
 [<Axes: title={'center': 'total_rooms'}>
  <Axes: title={'center': 'total_bedrooms'}>
  <Axes: title={'center': 'population'}>]
 [<Axes: title={'center': 'households'}>
  <Axes: title={'center': 'median_income'}>
  <Axes: title={'center': 'median_house_value'}>]]

In [ ]:
train_data.ocean_proximity.value_counts()

ocean_proximity
<1H OCEAN     6728
INLAND        4920
NEAR OCEAN    1975
NEAR BAY      1697
ISLAND           4
Name: count, dtype: int64

In [ ]:
dummies = pd.get_dummies(train_data.ocean_proximity)

In [ ]:
dummies = dummies.astype(int)

In [ ]:
dummies

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
13729          0       1       0         0           0
848            0       0       0         1           0
10737          1       0       0         0           0
5403           1       0       0         0           0
13801          0       1       0         0           0
...          ...     ...     ...       ...         ...
14515          1       0       0         0           0
3710           1       0       0         0           0
10926          1       0       0         0           0
12726          0       1       0         0           0
5771           1       0       0         0           0

[15324 rows x 5 columns]

In [ ]:
train_data = train_data.join(dummies)

In [ ]:
train_data = train_data.drop('ocean_proximity', axis=1)

In [ ]:
print(train_data.head())

       longitude  latitude  housing_median_age  ...  ISLAND  NEAR BAY  NEAR OCEAN
13729    -117.17     34.05                  29  ...       0         0           0
848      -122.07     37.58                  16  ...       0         1           0
10737    -117.91     33.61                  40  ...       0         0           0
5403     -118.43     34.03                  36  ...       0         0           0
13801    -117.63     34.37                  20  ...       0         0           0

[5 rows x 14 columns]

In [ ]:
numeric_cols = train_data.select_dtypes(include=[float, int])

In [ ]:
corr_matrix = numeric_cols.corr()

In [ ]:
sns.heatmap(corr_matrix, annot=True, cmap="YlGnBu")

Axes(0.125,0.11;0.62x0.77)

In [ ]:
plt.show()

In [ ]:
plt.figure()

Figure(640x480)

In [ ]:
sns.scatterplot(x = 'latitude', y = 'longitude', data = train_data, hue = "median_house_value", palette = "coolwarm")

Axes(0.125,0.11;0.775x0.77)

In [ ]:
plt.show()

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
X_train, y_train = train_data.drop(['median_house_value'], axis = 1), train_data['median_house_value']

In [ ]:
Regressor = LinearRegression()

In [ ]:
Regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
test_data = X_test.join(y_test)

In [ ]:
test_data['total_rooms'] = np.log(test_data['total_rooms']) + 1

In [ ]:
test_data['total_bedrooms'] = np.log(test_data['total_bedrooms']) + 1

In [ ]:
test_data['population'] = np.log(test_data['population']) + 1

In [ ]:
test_data['households'] = np.log(test_data['households']) + 1

In [ ]:
dummies = pd.get_dummies(test_data.ocean_proximity)

In [ ]:
dummies = dummies.astype(int)

In [ ]:
dummies

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
12240          0       1       0         0           0
9210           0       1       0         0           0
15848          0       0       0         1           0
6559           0       1       0         0           0
18756          0       1       0         0           0
...          ...     ...     ...       ...         ...
18704          0       1       0         0           0
12079          0       1       0         0           0
18087          1       0       0         0           0
19746          0       1       0         0           0
5246           1       0       0         0           0

[5109 rows x 5 columns]

In [ ]:
test_data = test_data.join(dummies)

In [ ]:
test_data = test_data.drop('ocean_proximity', axis=1)

In [ ]:
X_test, y_test = test_data.drop(['median_house_value'], axis = 1), test_data['median_house_value']

In [ ]:
print(test_data.head())

       longitude  latitude  housing_median_age  ...  ISLAND  NEAR BAY  NEAR OCEAN
12240    -116.96     33.75                  35  ...       0         0           0
9210     -119.67     37.27                  13  ...       0         0           0
15848    -122.44     37.74                  23  ...       0         1           0
6559     -118.13     34.20                  46  ...       0         0           0
18756    -122.36     40.68                  28  ...       0         0           0

[5 rows x 14 columns]

In [ ]:
train_data

       longitude  latitude  housing_median_age  ...  ISLAND  NEAR BAY  NEAR OCEAN
13729    -117.17     34.05                  29  ...       0         0           0
848      -122.07     37.58                  16  ...       0         1           0
10737    -117.91     33.61                  40  ...       0         0           0
5403     -118.43     34.03                  36  ...       0         0           0
13801    -117.63     34.37                  20  ...       0         0           0
...          ...       ...                 ...  ...     ...       ...         ...
14515    -117.16     32.89                   5  ...       0         0           0
3710     -118.38     34.20                  32  ...       0         0           0
10926    -117.89     33.74                  32  ...       0         0           0
12726    -121.35     38.60                  27  ...       0         0           0
5771     -118.27     34.15                  22  ...       0         0           0

[15324 rows x 14 columns]

In [ ]:
Regressor.score(X_test, y_test)

0.6693823919191628